@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-before {
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 99%);
  }
}


:root {
  --color-foreground: #022235;
}

html,
body {
  color: var(--color-foreground);
}

