@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --font-display: 'Exo 2', sans-serif;;
  --color-background: #e3e3e3;
  --color-foreground: #022235;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-family: var(--font-display);
}

